DEBUG=XXXX ## True or False
DJANGO_LOGLEVEL=XXXX ## info
DJANGO_ALLOWED_HOSTS=XXXX ## website url: no http, no port, also include django for healthcheck. Separated with commas, no spaces
DJANGO_TRUSTED_ORIGINS=XXXX ## full website url, also include http://django for healthcheck. Separated with commas, no spaces
CORS_ALLOWED_ORIGINS=XXXX ## for prod/serv: null | for dev full website url
CORS_ALLOW_CREDENTIALS=XXXX ## for prod/serv: False | for dev True

MARIADB_PORT=XXXX ## This should be "" in prod/serv and 3306 in dev
NGINX_PORT=XXXX ## This will be the only exposed port in prod. "" in serv/dev

DB_ENGINE=XXXX
DB_NAME=XXXX
DB_USER=XXXX
DB_PASSWORD=XXXX
DB_HOST=XXXX
DB_PORT=XXXX
SQL_ROOT_PASSWORD=XXXX

DOMAIN_NAME==XXXX ## website url without http

GOOGLE_OAUTH_CALLBACK_URL==XXXX full website url + /login/google/callback
GOOGLE_OAUTH_CLIENT_ID==XXXX

FORTYTWO_OAUTH_CALLBACK_URL==XXXX full website url + /login/42/callback
FORTYTWO_OAUTH_CLIENT_ID==XXXX

GIT_OAUTH_CALLBACK_URL==XXXX full website url + /login/github/callback
GIT_OAUTH_CLIENT_ID==XXXX

CLOUDFLARE_TOKEN=XXXX ## necessary for serv
