# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.venv/


# Django
*.log
db.sqlite3
media/

# Static files (si collectstatic utilisé)
staticfiles/

# Secrets
.env
*.env_prod
*.env
.env_prod

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Docker compose
srcs/docker-compose.override.yml

# env files which do not contain secrets
!./srcs/frontend/.env.dev
!./srcs/frontend/.env.prod
srcs/.env_prod
