@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  --nav-color: #a370bf;
  --bg-color: #37386f;
  --font-color: #ccdbdc;
  --hover-color: #6f7dda;
  --accent-color: #e06b73;
  --red-color: #c40606;
  --green-color: #31dd7e;
  --font: "JetBrains Mono";
}

@layer base {
  body {
    background: var(--bg-color);
    height: 100vh;
    font-family: "JetBrains Mono";
  }
  .page-content {
    @apply mx-24;
  }
  h1 {
    @apply text-4xl mt-10 text-center font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
}

@utility input {
  @apply bg-(--hover-color);
}

@utility btn {
	@apply bg-(--hover-color);
}

.avatar-hovered {
  @apply opacity-30;
}

.pen-hovered {
  @apply absolute text-3xl z-10;
}

.li-avatars {
  @apply w-24 m-3 h-24 hover:scale-110 transition-all;
}

.item-menu {
  @apply rounded-2xl;
}

@utility link-hover {
  @apply cursor-pointer;
}

.modal-box {
  scrollbar-color: var(--accent-color) var(--hover-color);
}

.item-menu:hover {
  background: var(--hover-color);
  @apply transition-all scale-x-105 shadow-black shadow-2xs rounded-2xl;
}

.active {
  @apply border-2 rounded-2xl border-(--hover-color);
}

.bordered {
  @apply border-2 border-(--accent-color) mt-10 rounded-xl p-10;
}

.table tr{
  @apply p-1 ;
}

.th-profile {
  @apply text-left w-30;
}

.th-history {
  @apply w-26 text-left;
}

.th-stats {
  @apply w-50 h-8;
}
