@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yarndings+12&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Yarndings+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Yuyu&display=swap');
@import "tailwindcss";
@import "./popcode_light.css";
@import "./popcode_dark.css";

@plugin "daisyui" {
  themes:
    popcode_light --default,
    popcode_dark --prefersdark;
}

/* :root { */
/*   --nav-color: #a370bf; */
/*   --bg-color: #37386f; */
/*   --font-color: #ccdbdc; */
/*   --hover-color: #6f7dda; */
/*   --accent-color: #e06b73; */
/*   --red-color: #c40606; */
/*   --green-color: #31dd7e; */
/* } */

@layer base {
  .font-Cause {
    font-family: "Cause";
  }

  .font-JetBrains {
    font-family: "JetBrains Mono";
  }

  .font-Yarndings {
    font-family: "Yarndings 12";
  }

  .font-Dancing {
    font-family: "Dancing Script";
    /* font-size: 1.4rem; */
  }

  .font-Rubik {
    font-family: "Rubik 80s Fade";
  }

  .font-Henny {
    font-family: "Henny Penny"
  }

  body {
    background: var(--color-base-200);
    font-family: "JetBrains Mono";
  }

  .page-content {
    @apply mx-24 max-md:mx-12;
  }

  h1 {
    @apply text-4xl mt-10 text-center font-bold max-md:text-3xl;
  }

  h2 {
    @apply text-3xl font-bold max-md:text-2xl;
  }

  h3 {
    @apply text-2xl font-bold max-md:text-xl;
  }
}

@utility input {
  @apply bg-base-200;
}

.input-lighter {
  @apply bg-base-100;
}

@utility link-hover {
  @apply cursor-pointer;
}

@utility modal-backdrop {
  button {
    @apply cursor-default;
  }
}

@utility collapse {
  @apply bg-base-100;
}

@utility dropdown-content {
  @apply bg-base-300 mt-2;
}

@utility label {
  @apply text-base-content;
}

@utility search {
  @apply bg-base-200;
}

@utility indicator-item {
  @apply bg-warning;
}

fieldset {
  @apply border border-accent;
}

.del {
  @apply bg-warning;
}

.avatar-hovered{
  @apply opacity-30;
}

.pen-hovered{
  @apply absolute text-3xl z-10;
}

.avatar-hovered-md {
  @apply max-md:opacity-30;
}

.pen-hovered-md {
  @apply max-md:absolute text-3xl z-10;
}

.li-avatars {
  @apply w-24 m-3 h-24 hover:scale-110 transition-all;
}

.item-menu {
  @apply rounded-2xl;
}

.modal-box {
  scrollbar-color: var(--color-accent);
  @apply scrollbar-thumb-accent bg-base-100;
}

.item-menu:hover {
  @apply bg-secondary transition-all scale-x-105 shadow-black shadow-2xs rounded-2xl;
}

.active {
  @apply border rounded-2xl border-(--hover-color);
}

.bordered {
  @apply border-2 border-accent mt-10 rounded-xl p-10 max-md:p-5;
}

.dropdown-scroll {
  @apply bg-base-100 border border-secondary rounded-xl p-5 pr-7 pl-7 overflow-scroll scrollbar-thumb-accent;
}

.table tr {
  @apply p-1;
}

.th-profile {
  @apply text-left w-30;
}

.th-history {
  @apply text-center;
}

.th-stats {
  @apply w-50 h-8;
}

.chat-bubble {
  word-wrap: break-word;
  @apply max-w-3xs;
}
